{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}

  <div class="container d-flex justify-content-center align-items-center" style="height: 110vh;">
    <div class="card" style="width: 60rem;">
      <div class="card-header">Создание теста</div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ formset.management_form }}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Отправить" %}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}