{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="container d-flex justify-content-center align-items-center"
       style="height: 3vh">
    <a href="{% url 'main:create_quiz' %}"
       class="btn btn-warning text-center btn-lg">Создать тест</a>
  </div>
  <h2>Мои Тесты</h2>
  <ul>
    {% for quiz in quizzes %}
      <li style="margin-bottom: 70px;">
        <hr>
        <a href="{% url 'main:quiz_detail' quiz.id %}"
           class="btn btn-info btn-lg">{{ quiz.title }}</a>
        {% if user.is_superuser %}
          <a href="{% url 'main:edit_quiz' quiz.id %}" class="btn btn-secondary">Редактировать</a>
          <a href="{% url 'main:delete_quiz' quiz.id %}" class="btn btn-danger">Удалить</a>
        {% endif %}
        <h4 style="margin-top:10px;">created by {{ user.username }}</h4>
        <hr>
      </li>
    {% empty %}
      <li>Вы еще не создали ни одного теста.</li>
    {% endfor %}
  </ul>
  {% if page_obj.has_other_pages %}
    <nav class="my-5">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">Первая</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
          </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active">
              <span class="page-link">{{ i }}</span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock content %}
